:root {
  --primary-color: rgb(255, 160, 122);
  --secondary-color: rgb(34, 22, 17);
  --quaternary-color: rgb(129, 98, 86);
  --tertiary-color: rgb(207, 207, 207);
  --almost-white: rgb(255, 255, 255);
}
