@import url("../../globalStyles/colors.css");
@import url("../../globalStyles/animations.css");

#menuPageBodyRoot {
  background-color: var(--tertiary-color);
}

#categoryAndSearchContainer {
  display: grid;

  padding: 10px 0px;

  grid-template-columns: 0.7fr 0.3fr;
  grid-auto-rows: auto;
}
@media (max-width: 768px) {
  #categoryAndSearchContainer {
    grid-template-columns: 1fr;
  }
}

#foodCategoriesList {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 50px;
  margin: 0px 10px;
}
.foodCategoryLi {
  list-style: none;
  position: relative;
  font-size: 1.25rem;

  height: 50%;

  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

#foodCardItemsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  place-items: center;
  gap: 20px;

  margin: 0px 20px;
}
@media (max-width: 768px) {
  #foodCardItemsGrid {
    gap: 20px;
    margin: 0px 10px;
  }
}
