@import url("../../globalStyles/colors.css");
@import url("../../globalStyles/animations.css");

#menuPageBodyRoot {
  background-color: var(--tertiary-color);
}

#categoryAndSearchContainer {
  display: grid;

  padding: 10px 0px;

  grid-template-columns: 0.7fr 0.3fr;
  grid-auto-rows: auto;
}
@media (max-width: 768px) {
  #categoryAndSearchContainer {
    grid-template-columns: 1fr;
  }
}

#searchContainer {
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);

  margin: 0px 25px;
  gap: 6px;
}
#searchInput {
  grid-column: auto / span 2;
  background-color: var(--quaternary-color);
  color: var(--primary-color);
  text-align: center;
}
#searchInput::placeholder {
  color: var(--tertiary-color);
}
.searchButton {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

#foodCategoriesList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 24px;
  height: 100%;
}
input[type="checkbox"] {
  display: none;
}
label {
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foodCategoryCB + label {
  color: var(--secondary-color);
  background-color: var(--almost-white);
  border-radius: 10px;
  border: solid var(--secondary-color) 2px;
}
.foodCategoryCB:checked + label {
  color: var(--primary-color);
}

#foodCardItemsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  place-items: center;

  gap: 10px;
  margin: 20px;
}
@media (max-width: 768px) {
  #foodCardItemsGrid {
    gap: 20px;
    margin: 0px 10px;
  }
}
