@import url("../../globalStyles/colors.css");

.menuItemCard {
  position: relative;

  background-color: var(--almost-white);

  box-sizing: border-box;

  height: 300px;
  width: 150px;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  border: solid var(--secondary-color) 2px;
  border-radius: 5px;

  transition: all 200ms ease-in-out;
}
.menuItemCard:hover {
  border: solid var(--secondary-color) 4px;
}

.menuItemPicture {
  height: 43%;
  width: 87%;
  margin-top: 3.3%;
  border-radius: 50%;
}

.cardTextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menuItemNameCont {
  height: 50px;
  width: 100%;
}
.menuItemName {
  color: var(--primary-color);
}

.menuItemDescCont {
  flex-grow: 1;
}
.menuItemDescription {
  font-size: 0.6rem;
  margin: 0px 2px;
}

.menuItemPriceStarCont {
  height: 50px;
  width: 100%;

  justify-content: space-between;
  align-items: end;
}
.favouriteStar {
  font-size: 1.5rem;
}
.menuItemPrice {
  font-size: 0.8rem;
  margin: 0px 7px 6px 0px;
}
