@import url("../../globalStyles/colors.css");

#cardPaymentRoot {
  display: flex;
  flex-direction: column;
  place-items: center center;
  gap: 20px;
  padding: 10px;
}

#payWithCardButton {
  height: 40px;
}

#cardInput {
  width: 50%;
  min-width: 200px;
}
#cardInput::placeholder {
  color: var(--tertiary-color);
}
