@import url("../../globalStyles/colors.css");
@import url("../../globalStyles/animations.css");

/*---------------------- Styles ----------------------*/
#navbar {
  display: grid;

  padding: 10px 0px;

  width: 100%;
  min-width: 350px;

  grid-template-columns: 0.15fr 0.85fr;
  grid-template-rows: auto;

  background-color: var(--secondary-color);
}

#navbarLogo {
  height: 70px;

  justify-self: center;
  align-self: center;
}

#linksList {
  display: flex;

  justify-content: end;
  align-items: center;

  margin: 0px;
  padding: 0px;
}

.linkToPage {
  text-decoration: none;
  font-size: 1.3rem;
  position: relative;

  color: var(--primary-color);
}

/* ---------------------- Queries ----------------------*/
@media (max-width: 768px) {
  #navbar {
    grid-template-columns: 1fr;
  }

  #navbarLogo {
    height: 150px;
  }

  #linksList {
    display: flex;

    justify-content: space-around;
    align-items: center;

    margin: 20px 0px;
    padding: 0px;
  }
}

@media (min-width: 769px) {
  .linkToPage {
    margin: 0px 20px;
  }

  #linksList {
    height: 100%;
  }
}

@media (max-width: 350px) {
  .linkToPage {
    font-size: 1.1rem;
  }
}

/*---------------------- Animations ----------------------*/
