@import url("../../globalStyles/colors.css");

/*---------------------- Styles ----------------------*/
#navbar {
  display: grid;

  padding: 10px 0px;

  width: 100%;
  min-width: 350px;

  grid-template-columns: 0.15fr 0.85fr;
  grid-template-rows: auto;

  background-color: var(--secondary-color);
}

#navbarLogo {
  height: 70px;

  justify-self: center;
  align-self: center;
}

#linksList {
  display: flex;

  justify-content: space-around;
  align-items: center;

  margin: 20px 0px;
  padding: 0px;
}

.linkToPage {
  text-decoration: none;

  color: var(--secondary-color);
  background-color: var(--primary-color);

  padding: 5px 3%;
  border-radius: 20px;

  border: solid var(--tertiary-color) 2px;

  transition: all 200ms ease-in-out;
}

/* ---------------------- Queries ----------------------*/
@media (max-width: 768px) {
  #navbar {
    grid-template-columns: 1fr;
  }

  #navbarLogo {
    height: 150px;
  }
}

@media (max-width: 350px) {
  .linkToPage {
    padding: 5px 2%;
  }
}

@media (min-width: 769px) {
  .linkToPage:hover {
    transform: scale(1.1);
  }
}

/*---------------------- Animations ----------------------*/
