@import url("../../globalStyles/colors.css");

.cartPageItemRoot {
  background-color: var(--tertiary-color);
  margin: 10px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-radius: 15px;
}

.itemName {
  color: var(--primary-color);
}

.itemPrice {
  color: var(--secondary-color);
}

.quantityControlContainer {
  display: flex;
  gap: 20px;
}
