@import url("../../globalStyles/colors.css");

#homePageRoot {
  margin-top: 20px;
}

.homePageHeading {
  text-align: center;
  color: var(--primary-color);
}

#aboutUsContainer {
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  place-items: center center;

  margin: 20px;
  padding: 20px;
  border-radius: 20px;

  background-color: var(--almost-white);
}
#aboutUsHeader {
  color: var(--secondary-color);
}
#aboutUsEmphasisDelivery {
  background: -webkit-linear-gradient(
    var(--quaternary-color),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
#aboutUsEmphasisGreen {
  background: -webkit-linear-gradient(var(--confirm-green), rgb(4, 241, 4));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 768px) {
  #aboutUsContainer {
    grid-template-columns: 1fr;
  }
  #aboutUsHeader {
    margin-bottom: 20px;
  }
}
